node_modules/
.git/
*.log
!inputs/0e00b566dddb366f598048df2ad2d9f4
backend/ML/camera_movement_estimator
backend/ML/development
backend/ML/input
backend/ML/output
backend/ML/player_ball_assignment
backend/ML/speed_distance_estimator
backend/ML/team_assigner
backend/ML/training
backend/ML/view_transformer
backend/Routes_help/virtual_e
backend/Routes/first_frame/*
!backend/Routes/first_frame/*.txt
backend/Routes/outputs/*.txt
!backend/Routes/outputs/*.txt
backend/logs
!backend/*.log
frontend/node_modules
!backend/v_e_utils/requirements_original.txt